body {
  background: #5071a3;
  margin:50px;
}

.episode-image {
  padding:5px;
  border:2px solid #d9d9d9;
  background: white;
}

.episode-title {
  font-family: 'Trocchi', serif;
  /* border: 2px solid #d9d9d9;
  padding: 5px; */
}

.show-title {
  font-family: 'Abril Fatface', 'Arial', Times, serif;
  padding: 5px;
}