.episode-image {
  padding:5px;
  border:2px solid #d9d9d9;
}

.episode-title {
  /* font-size: 1.5em; */
  font-family: 'Trocchi', serif;
  border: 2px solid #d9d9d9;
  padding: 5px;
}

.show-title {
  /* font-size: 1.3em; */
  font-family: 'Abril Fatface', 'Arial', Times, serif;
  padding: 5px;
}

.episode-description {
  /* font-size: 1em; */
  font-family: 'Arial';
  border: 2px solid #d9d9d9;
  padding: 5px;
}