.content {  
  position:absolute;
  top: 40px;
  bottom: 100px;
  left:0px;
  right:0px;
  /* bottom:80px; */
  width: 1050px;
  overflow-y:scroll;
  margin: auto;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100vh;
}

.right {
  float: right;
}

.episode-description {
  font-family: 'Arial';
  padding: 5px;
  margin-top: 5px;
}

.offblack {
  color: #353b42;
}

