.content {  
  position:absolute;
  top: 50px;
  left:0px;
  right:0px;
  bottom:80px;
  overflow-y:scroll;
  width: 900px;
  margin: auto;
}

.center {
  text-align: center;
}

.basic-episode-info {
  border: 2px solid #d9d9d9;
  padding: 5px;
  background: white;
}

.jumbotron {
  margin: 20px;
}

.img {
  max-width: 100%;
  height: auto;
}

.episode-page-show-title {
  font-size: 1.5em;
}

.episode-page-episode-title {
    font-size: 1.3em;
}