#player {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  background-color: #3d3d3d;
  padding-top: 4px;
}

/* .controls {
  padding: 10px;
} */

.buttons {
  display: flex;
  justify-content: center;
}

.control-button {
  background-color: transparent;
  border: none;
  color:white;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;
}

.control-button:hover {
  cursor: pointer;
}

#progress-bar {
  width: 70%;
}

#player-episode-title {
  color: white;
  font-style: italic;
  font-size: .8em;
  padding: 5%;
}

/* how do I move image down? padding doesn't work here */
/* #player-episode-image {
  padding: 5%;
} */

/* .playback-bar {
  height: 5px;
  width: 100%; 
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.filled {
  background-color: black;
  width: 0%;
} */

.left {
  float: left;
}

/* look into changing thumb color, once I have finished other functionality */
/* ::-webkit-slider-thumb {
  box-shadow: dodgerblue;
} */

.time-elapsed, .time-remaining {
  color: white;
}

.fa-heart:hover {
  color: red;
}

.fa-comment:hover {
  color: blue;
}

.fa-share-alt:hover {
  color: green;
}