#player {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  background-color: #3d3d3d;
  padding-top: 4px;
}

#player-episode-title {
  color: white;
  font-style: italic;
  font-size: .8em;
  padding: 5%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.control-button {
  background-color: transparent;
  border: none;
  color:white;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;
}

.control-button:hover {
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-comment:hover {
  color: blue;
}

.fa-share-alt:hover {
  color: green;
}

#progress-bar {
  width: 70%;
}

.time-elapsed, .time-remaining {
  color: white;
}

.left {
  float: left;
}

